@font-face {
    src: url('../font/CONTAX\ W01\ 25\ ULTRA\ LIGHT.TTF');
    font-family: contax
}
html, body {
    color: #e6e0d4;
    font-family: contax;
    overflow: hidden;
    background: url(../img/wallpaper.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    background-size: cover;

}
.desktop {
    width: 100%;
    height: 100%;
    position: absolute
}
.desktop .icon-desktop {
    padding: 4px 8px 4px 8px;
    border: 2px solid transparent;
    text-align: center;
    position: absolute;
  }
  
  .desktop .icon-desktop a {
    display: block;
    text-decoration: none;
    cursor: default;
  }
  
  .desktop .icon-desktop img {
    height: 48px;
    width: 48px;
  }
  
  .desktop .icon-desktop span {
    display: block;
    color: white;
    font-size: 18px;
    margin-top: 3px;
    text-align: center;
  }
  
  .desktop .icon-desktop:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  .desktop .icon-desktop:first-child {
    margin-top: 5px;
  }
  
.toolbar {
    width:100%;
    height: 35px;
    background-color: #2a2b2eaa;
    z-index: 5;
    position: relative;
    top: 0;
}
.window {
    width: 780px;
    height: 650px;
    position: absolute;

    margin: auto;

    border-radius: 20px 20px 0 0;

    display: inline-block;
    resize: vertical;

}
.header {
    position: relative;
    top: 0;
    width: 100%;
    height: 30px;
    border-radius: 20px 20px 0 0;
}
.bar {
    background:-moz-linear-gradient(0deg,#202124 0,#2a2b2e 100%);
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
.buttons {
    position: absolute;

    display: flex;
    align-items: center;
    top: 0; bottom: 0; right: 5px;
}
.buttons img, .app img {
    padding: 0 4px 0 4px;
    width: 14px
}
.app {
    position: absolute;

    display: flex;
    align-items: center;
    top: 0; bottom: 0;left: 5px;
}
.app p {
    font-size: 20px;
    padding-left: 4px;
    font-weight: bold
}
.body {
    background-color: #202124;
    width: 100%;
    height: 100%;

    opacity: 0.9
}
iframe {
    width: 100%;
    height: 100%
}

.wallpaper {
    width: 100%;

    position: absolute;
    z-index: -999
}

.right {
    position: absolute;
    
    display: flex;
    align-items: center;
    top: 0; bottom: 0; right: 20px;
}
.right .hour {
    font-size: 18px;
    padding-right: 15px
}
.right .logout {
    transform: rotate(90deg);
    cursor: pointer
}
.right .internet,.right .battery {
    padding-right: 10px;
    cursor: pointer
}

@keyframes fadeDown {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
.right p:hover {
    color: rgb(189, 189, 189);
}

.task_box {
    background-color: #2a2b2eaa;
    width: 300px;
    height: 150px;
    position: absolute;
    right: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #2e2e2e;
}
.task_box .task {
    padding: 10px;
    position: relative
}
.task_box .task p {
    text-align: center;
    padding: 10px
}
.task_box .battery {
    float: left;
    font-weight: bold;
    font-size: 48px;
}
.task_box .font {
    font-weight: bold;
    font-size: 48px;
}